.gacha {
  padding: 8px;
}

.gacha-button {
  background-color: #2196F3;
  color: #FFFFFF;
  border: 0;
  width: 18%;
  float: right;
  margin-left: 2%;
  box-sizing: border-box;
  padding: 8px 0;
  border-radius: 5px;
  cursor: pointer;
}

.gacha-button:hover {
  opacity: 0.8;
}

.gacha-button:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.5) inset;
}

.gacha:after {
  content: "";
  display: table;
  clear: both;
}

.gacha-list {
  width: 80%;
  list-style-type: none;
  padding: 0;
  font-size: 16px;
  margin: 0;
  margin-bottom: 16px;
  background-color: #F5F5F5;
  display: table;
  border-collapse: collapse;
  float: left;
}

.gacha-list__item {
  display: table-row;
  height: 45px;
  border-bottom: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
}

.gacha-list__item--active {
  outline: #FF1744 solid 2px;
}

.gacha-list__item__title,
.gacha-list__item__effect {
  display: table-cell;
  vertical-align: middle;
  padding: 4px 8px;
}

.gacha-list__item__title {
  white-space: nowrap;
}

.gacha-list__item__effect {
  font-size: 14px;
}
